<section class="container">
    <div class="text">
        <h1>Discover the rich<br />flavors of Morocco in<br />every sip.</h1>
        <p>Embrace the Bold and Exotic, Moroccan Mocha<br /> Coffee Delivered to Your Cup. Order Now !</p>
        <div class="btn">
            <a href="#">ORDER NOW</a>
        </div>
    </div>
    
    <div class="cup">
        <img src="assets/images/cup.png" >
    </div>
    <div class="slide">
        <img id="slideImage"  src="assets/images/cup2.png" >
        <h1 id="slideText">MOCHA</h1>
    </div>
    <div class="button">
       <a href="#" id="changeButton"><img src="assets/images/arrow.svg"></a>
    </div>

    
</section>